@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: rgb(30,30,50);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}
#answersCont{
    position: absolute;
    width: 75%;
    bottom: 4vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    transition: all 250ms ease;
    font-size: large;
}
.answerbox{
    width: 100%;
    height: 100px;
    background-color: rgb(40,40,60);
    border: white 1px solid;
    cursor: pointer;
    border-radius: 0.8vmax;
    transition: all 250ms ease;
    text-align: center;
    font-size: 1.5vmax;
}
.answerbox:active{
    scale: 0.95;
    background-color: rgb(100, 100, 130);
}
#question{
    position: fixed;
    top: 10vh;
    font-size: 2.5vmax;
    padding: 25px;
    margin-left: 2vw;
}
#score{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 1.5vmax;
    text-align: center;
}
#score>span{
    margin: 5px;
}
@media screen and (max-width: 500px){
    #answersCont{
        width: 90%;
    }
    #question, .answerbox{
        font-size: 5vmax;
    }
}
@media screen and (max-width: 300px){
    #answersCont{
        gap: 5px;
    }
}
@media screen and (max-width: 800px){
    #answersCont{
        height: 150px;
        bottom: 12.5vh;
    }
    #question{
        font-size: 5vmax;
    }
    .answerbox{
        font-size: 4vmax;
    }
}
#testSets{
    position: fixed;
    right: 0;
}